question 1

In [2]:
import numpy as np

np.__version__

'1.19.2'

question 2

In [5]:
import pandas as pd

dataset = pd.read_csv('car_prices.csv')

In [6]:
dataset.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [8]:
dataset.shape

(11914, 16)

question 3

In [17]:
dataset['Make'].value_counts().sort_values(ascending=False)[:5]

Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Dodge          626
Name: Make, dtype: int64

question 4

In [18]:
dataset[dataset['Make']=='Audi'].nunique()

Make                   1
Model                 34
Year                  20
Engine Fuel Type       5
Engine HP             40
Engine Cylinders       6
Transmission Type      3
Driven_Wheels          2
Number of Doors        2
Market Category       15
Vehicle Size           3
Vehicle Style          6
highway MPG           23
city mpg              18
Popularity             1
MSRP                 234
dtype: int64

question 5

In [19]:
dataset.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

question 6

In [20]:
dataset['Engine Cylinders'].median()

6.0

In [21]:
dataset['Engine Cylinders'].mode()

0    4.0
dtype: float64

In [25]:
dataset['Engine Cylinders'].mean()

5.628828677213059

In [22]:
d = dataset['Engine Cylinders'].fillna(value=6)

In [23]:
d.median()

6.0

In [24]:
d.mean()

5.629763303676347

In [26]:
d.isnull().sum()

0

question 7

In [27]:
lotus = dataset[dataset['Make']=='Lotus']
df = lotus[['Engine HP', 'Engine Cylinders']]

In [28]:
df.drop_duplicates(inplace=True)
df.shape

C:\Users\mario\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(9, 2)

In [29]:
X = df.values

In [30]:
X.shape

(9, 2)

In [31]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [33]:
w = np.linalg.inv(X.T @ X) @ X.T @ y

In [34]:
w

array([  4.59494481, -63.56432501])